*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: normal;
  color: #121212; }

.rotater {
  animation-name: rotats;
  animation-timing-function: linear;
  animation-duration: 1s; }

@keyframes rotats {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

.mb-xsm {
  margin-bottom: .4rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mt-xsm {
  margin-top: .4rem; }

.mt-sm {
  margin-top: 1rem; }

.mr-xsm {
  margin-right: 1rem; }

.mr-sm {
  margin-right: 3rem; }

.mr-lg {
  margin-right: 6rem; }

.pr-sm {
  padding-right: 1rem; }

.pl-sm {
  padding-left: 1rem; }

.pt-xsm {
  padding-top: .4rem; }

.pb-xsm {
  padding-bottom: .4rem; }

.pt-sm {
  padding-top: 1.2rem; }

.pb-sm {
  padding-bottom: 1.2rem; }

.pb-lg {
  padding-bottom: 4rem; }

.pt-lg {
  padding-top: 4rem; }

.pt-md {
  padding-top: 2.4rem; }

.pb-md {
  padding-bottom: 2.4rem; }

.d-block {
  display: block; }

.d-none {
  display: none; }

nav {
  background-color: #eed810; }

.navigation {
  display: flex; }
  @media (min-width: 1150px) {
    .navigation {
      max-width: 1150px;
      margin: 0 auto; } }
  .navigation__logo {
    height: 3.5rem; }
  .navigation__search {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto; }
    .navigation__search-link {
      padding: .6rem 0 .6rem .6rem;
      transition: .14s background-color linear; }
      .navigation__search-link:hover {
        background: whitesmoke; }
    .navigation__search-input {
      font-family: "Roboto";
      font-size: 1.3rem;
      font-weight: 600;
      width: 12rem;
      padding: .5rem 2.2rem .5rem .6rem;
      border: none;
      background-color: transparent;
      border-bottom: thin solid #121212; }
      .navigation__search-input:focus {
        box-shadow: none;
        outline: none; }
    .navigation__search-icon {
      position: absolute;
      right: .15rem;
      height: 2rem; }
  .navigation__results {
    font-family: "Roboto";
    cursor: pointer;
    border-radius: .45rem;
    position: absolute;
    top: 2.8rem;
    border: 0.1rem solid #7e7b7b;
    right: 0;
    background-color: #ffffff;
    padding: .6rem 1rem;
    max-height: 15rem;
    width: 14rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: none; }

.hero {
  background-color: #ededed; }

.current-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .current-info__refresh {
    flex: 1 1 100%;
    display: flex;
    justify-content: center; }
    .current-info__refresh-icon {
      height: 2.5rem; }
  .current-info__status-icon {
    height: 2.5rem; }
  .current-info__status-text {
    font-family: "Lobster Two";
    font-style: italic;
    font-size: 1.6rem; }
  .current-info__temp {
    font-family: "Anton";
    text-align: center;
    flex: 1 1 100%;
    font-size: 7rem; }
  .current-info__location {
    font-size: 1.6rem;
    font-family: "Roboto"; }

.todays-chart img {
  max-width: 100%; }

@media (min-width: 1150px) {
  .total-temp {
    max-width: 1150px;
    margin: 0 auto; } }

.total-temp__heading {
  font-family: "Lobster Two";
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  text-transform: capitalize; }

.total-temp__chart {
  width: 100%; }

@media (min-width: 1150px) {
  .copyright {
    max-width: 1150px;
    margin: 0 auto; } }

.copyright__text {
  font-family: "Roboto";
  text-align: right;
  font-size: .8rem; }
