.mb-xsm {
    margin-bottom: .4rem;
}
.mb-sm {
    margin-bottom: 1rem;
}
.mt-xsm {
    margin-top: .4rem;
}
.mt-sm {
    margin-top: 1rem;
}
.mr-xsm {
    margin-right: 1rem;
}
.mr-sm {
    margin-right: 3rem;
}
.mr-lg {
    margin-right: 6rem;
}
.pr-sm {
  padding-right: 1rem;  
}
.pl-sm {
    padding-left: 1rem;  
}

.pt-xsm {
    padding-top: .4rem;
}
.pb-xsm {
    padding-bottom: .4rem;
}
.pt-sm {
    padding-top: 1.2rem;
}
.pb-sm {
    padding-bottom: 1.2rem;
}
.pb-lg {
    padding-bottom: 4rem;
}
.pt-lg {
    padding-top: 4rem;
}
.pt-md {
    padding-top: 2.4rem;
}
.pb-md {
    padding-bottom: 2.4rem;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}